# Leave these blank, make a copy of this file and add your own credentials
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/auth/callback/spotify
NEXTAUTH_URL=http://127.0.0.1:3000
NEXTAUTH_SECRET=your-own-random-secret
